.meeting-item {
	margin-bottom: 30px;
  margin-right: 25px;
}

.thumb {
	position:relative;
}

.thumb img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width:100%
}

.thumb .price {
  position: absolute;
  left: 20px;
  top: 20px;
}

.thumb .price span{
  font-size: 16x;
  color: #1f272b;
  font-weight: 600;
  background-color: rgba(250,250,250, 0.9);
  padding: 7px 12px;
  border-radius: 10px;
} 

.down-content{
  background-color: #fff;
  padding: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.down-content .date{
  float: left;
  text-align:center;
  display: inline-block;
  margin-right: 20px;
}

.date h6{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a12c2f;
}

.date span{
  display:block;
  color: #1f272b;
  font-size: 22px;
  margin-top: 7px;
}

.down-content h4{
  font-size: 18px;
  color: #1f272b;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px
}

.down-content p{
  margin-left: 50px;
  color: #1f272b;
  font-size: 14px;
}